@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Regular.woff2') format('woff2'),
        url('Inconsolata-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-Bold.woff2') format('woff2'),
        url('Inconsolata-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('Inconsolata-ExtraLight.woff2') format('woff2'),
        url('Inconsolata-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

